!!!
%html
  %head
    %title Twitter
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" }
    = csrf_meta_tags

  %body
    #page{class: "c-#{controller_name}"}
      = render 'layouts/navbar'

      .profile-header
        = render 'layouts/profile_hero'
        = render 'layouts/profile_navbar'

      .container.page-container
        = yield

